{% load static %}

<footer class="mt-auto">
    <div class="container-fluid footer-container d-flex align-items-center flex-column">

        <h4 style="color: white">Síguenos</h4>

        <div class="d-flex align-items-center align-content-center">

            <a href="https://www.youtube.com/channel/UCJ-oMQn3IUGSWhhohWqiFdw"><img class="footer-ico-img" src="{% static 'edomexa/resources/ico_youtube.svg' %}"></a>
            <a href="https://www.facebook.com/edomexa"><img class="footer-ico-img" src="{% static 'edomexa/resources/ico_fb.svg' %}"></a>
            <a href="https://www.instagram.com/soyedomexa"><img class="footer-ico-img" src="{% static 'edomexa/resources/ico_insta.svg' %}"></a>
            <a href="#"><img class="footer-ico-img" src="{% static 'edomexa/resources/ico_tiktok.svg' %}"></a>

        </div>

    </div>
</footer>