{% extends "edomexa/base.html" %}

{% load static %}

{% block content %}

    <!-- Fondo valle de bravo -->
    <div class="container-fluid p-0">

        <div class="container-fluid p-0 position-relative">
            <img class="bg-hero" src="{% static 'edomexa/resources/VALLEIMAGEN.png' %}" alt="Valle de Bravo"/>

            <div class="container-fluid p-0 position-absolute top-0 left-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <p class="text-center hero-text">La guía de viajes definitiva para recorrer el Estado de México, dónde
                    ir, qué hacer, que comer y que tomar. Siéntete orgullosx de ser #edomexa.</p>
            </div>
        </div>

        <!-- Fondo montaña -->
        <div class="container-fluid p-0 position-relative bg-dark">
            <img class="bg-hero" src="{% static 'edomexa/resources/imagennevado.png' %}" alt="Montañas"/>

            <div class="container-fluid position-absolute top-0 left-0 w-100 h-100 d-flex flex-column justify-content-start align-items-start">
                <div class="container-fluid" style="padding: 7%">
                    <p class="text-leading hero-title">NOSOTRxS...</p>
                    <p class="text-leading hero-text-2">
                        #Edomexa es un proyecto que nace del entusiasmo, amor, cariño y orgullo que lxs edomexas tenemos
                        por nuestras tradiciones, por nuestra gente y por el encanto de nuestro estado.
                    </p>
                    <a class="btn btn-outline-primary" href="/nosotros" role="button">leer más</a>
                </div>
            </div>
        </div>

    </div>

    <!-- Secciones -->
    <div class="container-fluid">

        <div class="row">

            {% for s in sections.values %}
                <div class="col-lg-4 col-sm-12">
                    <div class="d-flex flex-column justify-content-start align-items-center contenedor-secciones">

                        <div class="icono-seccion">
                            <img class="img-seccion" src="{% static s.3 %}" alt="img-section">
                        </div>

                        <div class="d-flex">
                            <p class="text-center texto-seccion">{{ s.2 }}</p>
                        </div>

                        <div class="d-flex flex-grow-1 align-items-end">
                            <a class="btn btn-outline-primary btn-sm boton-seccion"
                               href="{% url "site_section" s.4 %}" role="button">leer
                                más...</a>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>

        <!-- Formularios -->
        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-sm-12 p-3">

                    <div class="card form-card d-flex flex-column justify-content-start align-items-center">

                        <div class="d-flex justify-content-center p-2">
                            <img class="imagen-icono-formulario" src="{% static 'edomexa/resources/ubicacion.png' %}"
                                 alt="icono-postular-lugar"/>
                        </div>

                        <form class="w-75" action="{% url 'submit-place' %}" method="post" id="place-form">
                            {% csrf_token %}

                            <fieldset>
                                <legend class="text-center">Postular Lugar</legend>

                                <div class="mb-3">
                                    <label for="seleccion-exampleFormControlInput1" class="form-label">Nombre del
                                        lugar</label>
                                    <input type="text" class="form-control" id="nombre-lugar"
                                           name="nombre-lugar"
                                           placeholder="Nombre del lugar">
                                </div>

                                <div class="mb-3">
                                    <label for="seleccion-municipio" class="form-label">Municipio</label>
                                    <select id="seleccion-municipio" class="form-select" name="seleccion-municipio"
                                            aria-label="Default select example">
                                        <option selected>Seleccione</option>
                                        {% for m in municipios %}
                                            <option value="{{ m.0 }}">{{ m.1 }}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="mb-3">
                                    <label class="form-check-label">
                                        Tipo de lugar
                                    </label>

                                    {% for l in tipo_lugar %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="tipo-lugar-group"
                                                   id="{{ l.0 }}" value="{{ l.1 }}">
                                            <label class="form-check-label" for="{{ l.0 }}">
                                                {{ l.1 }}
                                            </label>
                                        </div>
                                    {% endfor %}

                                </div>

                                <div class="mb-3">
                                    <label for="texto-lugar-descripcion" class="form-label">Breve
                                        descripción</label>
                                    <textarea class="form-control" id="texto-lugar-descripcion"
                                              name="texto-lugar-descripcion" rows="3"></textarea>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary mb-3 boton-formulario">Enviar</button>
                                </div>

                            </fieldset>
                        </form>

                    </div>

                </div>

                <div class="col-lg-6 col-sm-12 p-3">

                    <div class="card form-card d-flex flex-column justify-content-start align-items-center">

                        <div class="d-flex justify-content-center p-2">
                            <img class="imagen-icono-formulario" src="{% static 'edomexa/resources/usuario.png' %}"
                                 alt="icono-postular-lugar"/>
                        </div>

                        <form class="w-75" action="{% url 'submit-person' %}" method="post" id="person-form">
                            {% csrf_token %}

                            <fieldset>
                                <legend class="text-center">Postular Persona</legend>

                                <div class="mb-3">
                                    <label class="form-label" for="nombre-persona">Nombre(s)</label>
                                    <input type="text" class="form-control" id="nombre-persona" name="nombre-persona"
                                           placeholder="Nombre(s)">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="apellidos-persona">Apellidos</label>
                                    <input type="text" class="form-control" id="apellidos-persona"
                                           name="apellidos-persona" placeholder="Apellidos">
                                </div>

                                <div class="mb-2 d-flex align-items-center">
                                    <img src="{% static 'edomexa/resources/ico_fb.svg' %}" alt="facebook"
                                         class="icono-red-social-formulario p-0">
                                    <label class="form-label p-1" for="facebook">@</label>
                                    <input type="text" class="form-control p-1" id="facebook" name="facebook"
                                           placeholder="facebook">
                                </div>

                                <div class="mb-2 d-flex align-items-center">
                                    <img src="{% static 'edomexa/resources/ico_insta.svg' %}" alt="facebook"
                                         class="icono-red-social-formulario p-0">
                                    <label class="form-label p-1" for="instagram">@</label>
                                    <input type="text" class="form-control p-1" id="instagram" name="instagram"
                                           placeholder="instagram">
                                </div>

                                <div class="mb-2 d-flex align-items-center">
                                    <img src="{% static 'edomexa/resources/ico_tiktok.svg' %}" alt="facebook"
                                         class="icono-red-social-formulario p-0">
                                    <label class="form-label p-1" for="tiktok">@</label>
                                    <input type="text" class="form-control p-1" id="tiktok" name="tiktok"
                                           placeholder="tiktok">
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary mb-3 boton-formulario">Enviar</button>
                                </div>

                            </fieldset>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>
        let f = function (event) {
            event.preventDefault();
            event.stopPropagation();
            let target = event.target
            let data = new FormData(target)

            const request = new XMLHttpRequest();

            request.open(target.method, target.action)

            request.setRequestHeader('X-CSRFToken', data.csrfmiddlewaretoken);

            request.onreadystatechange = function () {
                if (this.readyState === 4) {

                    if (this.status === 200) {
                        var response = JSON.parse(this.responseText);

                        console.log(response)
                        target.reset()

                        alert("Formulario enviado.")
                    } else {
                        alert('Hubo un error al enviar el formulario. Intenta de nuevo.')
                    }
                }

            };

            request.send(data);
        }

        let form1 = document.getElementById('place-form')
        form1.addEventListener('submit', f)

        let form2 = document.getElementById('person-form')
        form2.addEventListener('submit', f)
    </script>

{% endblock content %}