{% extends "edomexa/base.html" %}

{% load static %}

{% block content %}

    <div class="container">

        <h1>NOSOTRXS…</h1>
        <h4>Buscamos dar reconocimiento al talentazo que tenemos en nuestro estado así como algunos rincones ocultos que
            sin
            lugar a duda merecen ser reconocidos, por su folclor y belleza sin igual.</h4>

        <div class="nosotros-container">
        <p>#Edomexa nace del gran amor que Omar Ortega Álvarez tiene por este increíble estado, por el orgullo que le
            provocaba
            tener gente tan talentosa y lugares increíbles que muchas veces no eran conocidos y reconocidos.
            #edomexa es una colaboración de talento mexicano, que busca dar ese merecido reconocimiento a todxs los
            edomexas
            que
            se la rifan haciendo día a día lo que les apasiona, trayendo así un lugar lleno de folclore, amor, color,
            aventura,
            sabor, cultura y tradición.</p>
        <p>Obviamente toda esta maravilla de estado tenía que ser compartido contigo, para que lo disfrutes, conozcas y
            compartas.</p>
        <p>TQM</p>

        <p>Pd. Si sabes de una o un Edomexa que merezca ser parte de este espacio para que la o lo reconozcan o sabes de algún
            lugar,
            establecimiento o talento que esté dentro del estado de México ¡POSTULALO!, Así llenamos a #edomexa de toda
            la
            shingoneria que está dentro de nuestro estado.</p>
        </div>

        <div class="d-flex align-items-center justify-content-center">
    <img id="img-candidato" src="{% static "edomexa/resources/candidato.png" %}" alt="candidato">
        </div>

    </div>

{% endblock content %}
